<div style="width: 80%; display: flex; margin-left:10%; margin-right: 10%;"> <!-------------------           inicia componente            -------------->



<div style="width: 100%; display: flex;">

    <div style="width: 70%;">
    <h1>
      <span class="u-text-custom-color-3"  style="font-size: 1.5rem;  font-weight: 700;"> Información de Programación de Cirugía</span>
    </h1>
  </div>

  <div style="width: 30%;">
    <section class="example-section">
        <label class="example-margin">Prioridad de la Cirugía:</label>
        <mat-radio-group [(ngModel)]="labelPosition">
          <mat-radio-button class="example-margin" value="Alta">Alta</mat-radio-button>
          <mat-radio-button class="example-margin" value="Media">Media</mat-radio-button>
          <mat-radio-button class="example-margin" value="Baja">Baja</mat-radio-button>
        </mat-radio-group>
      </section>
  </div>



</div>



</div> <!-------------------           Termina componente            -------------->